@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@200&display=swap');

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #eee;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  
  .home-text {
    max-width: 600px;
  }
  
  .home-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 1rem;
  }
  
  .home-text p {
    font-size: 1.25rem;
    color: #7f8c8d;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    background-color: #3498db;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #2980b9;
  }
  
  .home-image img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .home-content {
      flex-direction: column;
      text-align: center;
    }
  
    .home-image {
      margin-top: 2rem;
    }
  }